@font-face {
	font-family: "LeagueSpartan";
	src: url("src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 500 700; /* Ejes disponibles: peso de 100 a 900 */
	font-style: normal;
}

:root {
	font-family: "LeagueSpartan";
}
