@font-face {
	font-family: "LeagueSpartan";
	src: url("src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 500 700; /* Ejes disponibles: peso de 100 a 900 */
	font-style: normal;
}

:root {
	font-family: "LeagueSpartan";
	--darkGray: hsl(0, 0%, 63%);
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
	--veryDarkGray: hsl(0, 0%, 27%);
}

p {
	color: var(--darkGray);
	line-height: 1.35em;
}

body {
	margin: 0;
}

.hero {
	height: auto;
	object-fit: cover;
}

main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.topBox {
	height: 70%;
	width: 100%;
	display: flex;
}
.bottomBox {
	height: 30%;
	width: 100%;
}

.headerNavLink {
	position: absolute;
	left: 3em;
	top: 3em;
	display: flex;
	gap: 2.5em;
}

.logo {
	cursor: pointer;
}

nav {
	display: flex;
	flex-direction: row;
	gap: 1.5em;
	color: white;
}

.navLink {
	cursor: pointer;
	position: relative;
	color: white;
	text-decoration: none;
}

.navLink::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition: width 0.1s;
	margin: auto;
	margin-top: 0.1em;
}

.navLink:hover::after {
	width: 100%;
}

.slideBtnBox {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.slideBtn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5em;
	height: 4.5em;
	cursor: pointer;
	background-color: var(--black);
}

.slideBtn:hover {
	background-color: var(--veryDarkGray);
}

.topBoxRight {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	align-items: center;
}

.topBoxRightContent {
	display: flex;
	flex-direction: column;
	width: fit-content;
	justify-content: center;
	text-align: left;
	height: 100%;
}

.topBoxRightContent h2 {
	font-size: 2.5em;
	margin-bottom: 0.25em;
}

.shopNow {
	color: black;
	text-decoration: none;
	gap: 1em;
	display: flex;
	flex-direction: row;
	letter-spacing: 0.5em;
}

.shopNow:hover {
	color: var(--darkGray);
}

.shopNow:hover svg path {
	fill: var(--darkGray);
}
